.qAWrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  .question {
    width: 80%;
    font-size: 20px;
    font-weight: 700;
    background: linear-gradient((#100242, #000));
    border: 2px solid #fff;
    padding: 10px;
    text-align: center;
    border-radius: 20px;
  }
  .answers {
    width: 80%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    .answer {
      cursor: pointer;
      width: 100%;
      padding: 10px;
      text-align: center;
      background: linear-gradient((#0e0123, #22074d));
      border-radius: 20px;
      font-weight: 300;
      border: 2px solid #fff;
    }
    .answer:hover {
      background: mediumblue;
    }

    .answerActive {
      cursor: pointer;
      width: 100%;
      padding: 10px;
      text-align: center;
      background: mediumblue;
      border-radius: 20px;
      font-weight: 300;
      border: 2px solid #fff;
    }
    .answerActive:hover {
      background: mediumblue;
    }
    .answerCorrect {
      cursor: pointer;
      width: 100%;
      padding: 10px;
      text-align: center;
      background: linear-gradient((#0e0123, #22074d));
      border-radius: 20px;
      font-weight: 300;
      border: 2px solid #fff;
      animation: correct 3s ease forwards;
    }
    .answerWrong {
      cursor: pointer;
      width: 100%;
      padding: 10px;
      text-align: center;
      background: linear-gradient((#0e0123, #22074d));
      border-radius: 20px;
      font-weight: 300;
      border: 2px solid #fff;
      animation: wrong 3s ease forwards;
    }
  }
}

@keyframes correct {
  0%,
  22%,
  42% {
    background: mediumblue;
  }
  20%,
  40%,
  60% {
    background: linear-gradient((#0e0124, #22074d));
  }
  62%,
  100% {
    background: green;
  }
}

@keyframes wrong {
  0%,
  22%,
  42% {
    background: mediumblue;
  }
  20%,
  40%,
  60% {
    background: linear-gradient((#0e0124, #22074d));
  }
  62%,
  100% {
    background: crimson;
  }
}
